.navBar{
	padding: 20px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navBar .logo{
	width: 120px;
}

.navbar-menu{
	display: flex;
	list-style: none;
	gap: 20px;
	color: gray;
	font-size: 20px;
}

.navbar-right{
	display: flex;
	align-items: center;
	gap: 40px;
}

.navBar button{
	background: transparent;
	font-size: 18px;
	color: gray;
	border: 1px solid tomato;
	padding: 10px 30px;
	border-radius: 50px;
	cursor: pointer;
}

.navBar button:hover{
	background-color: #fff4f2;
	transition: .3s ease-in-out;
}

.navBar .active{
	padding-bottom: 2px;
	border-bottom: 2px solid #49557e;

}